<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>		
		<title>Todos List</title>
	</head>
	<body>
		{{!-- <h1 style="text-align: center;">TODOS</h1> --}}
		<div class="container">
			
			{{#each todos as |todo|}}
			<div>
				{{!-- <img src="/profilepics/{{user.username}}_sm.jpg" alt=""> --}}
				<p><a href="/{{todo.id}}">{{todo.title}}</a></p>
			</div>
			{{/each}}
		</div>
	</body>
</html>
