doctype html
html
    head
        title username
        style.
            img{
                width: 500x;
                height: 500px;
            }
            
    body
        h1 username
        div
            img(src="lg.jpg" alt="lg_profile_pic")